<app-reservations [email]="this.userEmail" ></app-reservations>

<div>
    <button *ngIf="!displayCalendar" (click)="toggleCalendar()" class="new-reservation-btn">New Reservation</button>
    
    <div *ngIf="displayCalendar">
        <p>Select a date:</p>
        <input type="date" [(ngModel)]="selectedDate" (change)="checkAvailability()">
        <button *ngIf="selectedDate" (click)="checkAvailability()" class="show-times-btn">Show Available Times</button>
    </div>
    
    <div *ngIf="availableTimes?.length">
        <p>Select a time and see available slots:</p>
        <ul>
            <li *ngFor="let time of availableTimes" (click)="selectTime(time)">
                {{ time.time }} (Max guests: {{ time.maxGuests }})
            </li>
        </ul>
    </div>
    
    <div *ngIf="selectedTime">
        <p>Enter number of guests:</p>
        <input type="number" [(ngModel)]="selectedGuests" min="1" max="{{ maxGuestsAllowed }}" placeholder="Number of Guests">
    </div>
    
    <button *ngIf="selectedGuests" (click)="createReservation()" class="book-now-btn">Book Now!</button>
    <span #message></span>
</div>
